# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules

# Build output
dist
src-tauri/target

# Local environment
.env*
!.env.example

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
